<div class="card-dog my-4">
   <%= cl_image_tag dog.photos.first.key %>
  <div class="card-dog-content d-flex justify-content-between pt-2 pb-2">
    <div class="card-dog-content-info ml-3">
      <p class="medium"> <%= dog.name %></p>
      <p><%= dog.breed %>, <%= dog.age %></p>
    </div>
    <div class="card-dog-content-tag d-flex align-items-end mr-3">
      <div class="status">
        <p class="medium">ready to walk</p>
      </div>
    </div>
  </div>
  <%= link_to '', dog_path(dog), class: "stretched-link" %>
</div>


