<%= render 'shared/navbar-top' %>
<div style="margin-top: 5rem;" class="container">
<h1>Edit <%= @dog.name %>´s profile</h1>
<div class="around-the-form-edit">
  <%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :age %>
  <%= f.input :bio %>
  <div class="upload-btn-wrapper">
  <button class="btn btn-secondary ">Upload photos</button>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>
  <%= f.submit "Update", class: "btn btn-secondary mb-3" %>
  <% end %>
</div>
</div>
<%= render 'shared/bottom-navbar' %>
