<div style="margin-top: 3.8rem; margin-bottom: 5rem;">

      <div class="container py-3">
      <%= link_to root_path, class: 'button-back' do %>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <% end %>
    </div>

<%= render 'components/carousel_dog_show' %>
  <div class="container pt-3 mb-3">
    <div class="dog-content">
      <div class="dog-content-title d-flex justify-content-between">
        <h2 class="mb-0">
          <%= @dog.name %>
        </h2>
        <div class="status">
          <% if @dog.ready_to_walk %>
            <p class="medium">ready to walk</p>
          <% end %>
        </div>
      </div>
      <div class="dog-content-body">
        <div class="dog-content-body-info">
          <p class="mb-0" id="category">
            <%= @dog.breed %>,
            <%= @dog.age %>
          </p>
          <p>
            <%= @dog.bio %>
          </p>
        </div>
      </div>
      <% if @sniff %>
        <%= link_to 'Unsniff', sniff_path(@sniff), method: :delete, id:'sniffer', class: "btn btn-secondary-revert" %>
      <% else %>
        <%= link_to 'Sniff', dog_sniffs_path(@dog), method: :post, id:'sniffer', class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
