<h1>All the doggies around your place</h1>


<ul>

    <li>
      <ul>
        <li><%= @dog.name %></li>
        <li><%= @dog.age %></li>
        <li><%= @dog.breed %></li>
        <li><%= @dog.bio %></li>
      </ul>
    </li>
</ul>

<%= link_to "SNIFF IT!", chatroom_path, method: :create %>
