<%= render 'shared/navbar-top-dog-profile' %>
<div style="margin-top: 62px; margin-bottom: 5rem;">
  <div class="dog-image banner">
    <%= render 'components/carousel_dog_show' %>
  </div>
  <div class="general-container" style="margin-top: 65px;">
    <div class="dog-content">
      <div class="dog-content-title d-flex justify-content-between">
        <h2 class="mb-0">
          <%= @dog.name %>
        </h2>
        <div class="status">
          <% if @dog.ready_to_walk %>
            <p class="medium">ready to walk</p>
          <% end %>
        </div>
      </div>
      <div class="dog-content-body">
        <div class="dog-content-body-info">
          <p class="mb-0" id="category">
            <%= @dog.breed %>, <%= @dog.age %>
          </p>
          <p>
            <%= @dog.bio %>
          </p>
        </div>
      </div>
      <div class="dog-content-sniff mb-3">
        <% if @sent_sniff %>
          <%= link_to 'Unsniff', sniff_path(@sent_sniff), method: :delete, id:'sniffer', class: "btn btn-secondary-revert" %>
        <% elsif @received_sniff && @received_sniff.status %>
          <%= link_to 'Unsniff', sniff_path(@received_sniff), method: :delete, id:'sniffer', class: "btn btn-secondary-revert" %>
        <% elsif @received_sniff && @received_sniff.status == nil %>
          <%= link_to 'Sniff back', sniff_path(@received_sniff), method: :patch, id:'sniffer', class: "btn btn-secondary" %>
        <% else %>
          <%= link_to 'Sniff', dog_sniffs_path(@dog), method: :post, id:'sniffer', class: "btn btn-secondary" %>
        <% end %>
      </div>
      <div class="dog-content-chat">
        <% if @sent_sniff && @sent_sniff.status %>
          <%= link_to 'Chat', chatroom_path(@sent_sniff.chatrooms.first), class: 'btn btn-primary' %>
        <% end %>
        <% if @received_sniff && @received_sniff.status %>
          <%= link_to 'Chat', chatroom_path(@received_sniff.chatrooms.first), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
