<div style="margin-top: 5rem;" class="container">
  <div class="dog-image banner" style="background-image: url('https://via.placeholder.com/343x204.png?text=dog.photo');">
    <div class="container pt-3">
      <%= link_to root_path, class: 'button-back' do %>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="container pt-3">
    <div class="dog-content">
      <div class="dog-content-title d-flex justify-content-between">
        <h2 class="mb-0">
          <%= @dog.name %>
            </br>
            </br>
        </h2>
        <div class="status">
          <p class="medium mb-0">ready to walk</p>
        </div>
      </div>
      <div class="dog-content-body">
        <div class="dog-content-body-info">
          <p class="mb-0" id="category">
            Breed: <%= @dog.breed %>
              </br>
            Age: <%= @dog.age %>
          </p>
            </br>
            </br>
          <p>
            More about me: <%= @dog.bio %>
          </p>
        </div>
      </div>
        <% if @sniff %>
          <%= link_to 'Already sniffed', dog_sniffs_path(@dog), method: :post, id:'sniffer', class: "btn btn-secondary disabled" %>
        <% else %>
          <%= link_to 'sniff', dog_sniffs_path(@dog), method: :post, id:'sniffer', class: "btn btn-secondary" %>
        <% end %>
    </div>
  </div>
</div>
