<div class="dog-image banner" style="background-image: url('https://via.placeholder.com/343x204.png?text=dog.photo');">
  <div class="container pt-3">
    <%= link_to root_path, class: 'button-back' do %>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
<div class="container pt-3">
  <div class="dog-content">
    <div class="dog-content-title d-flex justify-content-between">
      <h2 class="mb-0">
        <%= @dog.name %>
      </h2>
      <div class="status">
        <p class="medium mb-0">ready to walk</p>
      </div>
    </div>
    <div class="dog-content-body">
      <div class="dog-content-body-info">
        <p class="mb-0" id="category"><%= @dog.breed %>, <%= @dog.age %></p>
        <p><%= @dog.bio %></p>
      </div>
      <%= link_to 'Sniff', '#', class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

