<%= render 'shared/navbar-top' %>
<div style="margin: 5rem 0px;" class="container">
  <div class="qr_codecontainer_one">
    <h2>Hello
      <%= @user.username %>
    </h2>
    <div class="qrcode">
      <%= @svg.html_safe  %>
    </div>
    <hr>
  </div>
  <div class="show_email"><span class="lighter_font_on_user_show">Email:</span><br>
    <%= @user.email %>
  </div>
  <div class="show_username"><span class="lighter_font_on_user_show">Username:</span><br>
    <%= @user.username %>
  </div>
  <hr>
  <div class="dogs_container_on_user">
    <% @dogs.each do |dog|  %>
      <ul class="chatrooms-list_show">
        <li>
          <div class="dog_name_on_user_show">
            <span class="lighter_font_on_user_show">My buddy:</span><br>
            <%= dog.name %>
          </div>
        </li>
        <li>
          <div class="dog_breed_on_user_show">
            <span class="lighter_font_on_user_show">Breed:</span><br>
            <%= dog.breed %>
          </div>
        </li>
      </ul>
      <hr>
      <div id="ready_to_walk_container">
        <ul class="chatrooms-list_show">
          <li>
            <%= simple_form_for(dog) do |f| %>
              <div class="custom-control custom-switch pl-3">
                <%= f.input :ready_to_walk, input_html: { id: "ready_to_walk_#{dog.id}", class: 'custom-control-input toggle' }, label_html: { id: "ready_to_walk_#{dog.id}", class: 'custom-control-label'}, label: ' '  %>
              </div>
            <% end %>
            <%= link_to 'Ready to walk', dog_toggle_ready_to_walk_path(dog),
                method: :patch,
                id: 'ready_to_walk',
                class: 'btn btn-secondary-revert d-none',
                remote: true %>
          </li>
          <li>
            <%= simple_form_for(dog, remote: true, html: {class: "park-dropdown"}) do |f| %>
              <%= f.association :parks, include_blank: false, label: "Choose your dog's park", input_html: { multiple: false } %>
              <%= f.submit class: "d-none", id: "dog-submit-button" %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= render 'components/carousel_user_show' if @dogs.first.photos.attached? %>
  <ul class="chatrooms-list_show">
    <li>
      <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-secondary my-3"  %>
    </li>
    <li>
      <%= link_to "Edit your dogs profile", edit_dog_path(@dogs.first), class: "btn btn-secondary my-3" %>
    </li>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary-revert mb-3", id: "logout-btn" %>
    </li>
  </ul>
</div>
<%= render 'shared/bottom-navbar' %>
