<%= render 'shared/navbar-top' %>
<div style="margin: 5rem 0px;" class="container">
  <h1>Welcome
    <%= @user.username %>
  </h1>
  <p>Email:
    <%= @user.email %>
  </p>
  <p>Username:
    <%= @user.username %>
  </p>
  <p>Dogs:
    <% @dogs.each do |dog|  %>
    <ul class="chatrooms-list">
      <li>
        Name:
        <%= dog.name %>
      </li>
      <li>
        Breed:
        <%= dog.breed %>
      </li>
      <li>
        Age:
        <%= dog.age %>
      </li>
      <li>
        Bio:
        <%= dog.bio %>
      </li>
      <li>
        <%= simple_form_for(dog) do |f| %>
        <div class="custom-control custom-switch pl-3">
          <%= f.input :ready_to_walk, input_html: { id: "ready_to_walk_#{dog.id}", class: 'custom-control-input toggle' }, label_html: { id: "ready_to_walk_#{dog.id}", class: 'custom-control-label'}, label: ' '  %>
        </div>
        <% end %>
        <%= link_to 'Ready to walk', dog_toggle_ready_to_walk_path(dog),
            method: :patch,
            id: 'ready_to_walk',
            class: 'btn btn-secondary-revert d-none',
            remote: true %>
      </li>
    </ul>
    <% end %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @dogs.first.photos.last.key, class: "d-block w-100"  %>
        </div>
        <% @dogs.first.photos.each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, class: "d-block w-100"  %>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </p>
  <ul class="chatrooms-list">
    <li>
      <%= link_to "Edit your profile", edit_user_registration_path  %>
    </li>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>
<%= render 'shared/bottom-navbar' %>
