<div style="margin: 5rem 0px;" class="container">
  <h1>Welcome
    <%= @user.username %>
  </h1>
  <p>Email:
    <%= @user.email %>
  </p>
  <p>Username:
    <%= @user.username %>
  </p>
  <p>Dogs:
    <% @dogs.each do |dog|  %>
    <ul class="chatrooms-list">
      <li>
        Name: <%= dog.name %>
      </li>
      <li>
        Breed: <%= dog.breed %>
      </li>
      <li>
        Age: <%= dog.age %>
      </li>
      <li>
        Bio: <%= dog.bio %>
      </li>
      <li>
        <% if dog.ready_to_walk %>
          <%= link_to 'Ready to walk', dog_toggle_ready_to_walk_path(dog),
            method: :get,
            class: 'btn btn-secondary-revert'%>
        <% else %>
          <%= link_to 'Ready to walk', dog_toggle_ready_to_walk_path(dog),
            method: :get,
            class: 'btn btn-secondary'%>
        <% end %>
      </li>

    </ul>
    <% end %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @dogs.first.photos.last.key, class: "d-block w-100"  %>
        </div>
        <% @dogs.first.photos.each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, class: "d-block w-100"  %>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </p>
  <ul class="chatrooms-list">
    <li>
      <%= link_to "Edit your profile", edit_user_registration_path  %>
    </li>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>
