<nav class="navbar fixed-bottom navbar-dark bg-white">
  <%= link_to root_path do %>
  <%= image_tag "icons8-dog-house-50", alt: "Home" %>
  <% end %>
  <%= image_tag "icons8-dog-bone-50", alt: "Bone" %>
  <%= image_tag "icons8-dog-collar-50", alt: "Collar" %>
  <%= image_tag "icons8-dog-heart-50", alt: "Dog heart" %>
</nav>
