<nav class="navbar fixed-bottom navbar-dark bg-white">
  <%= link_to root_path do %>
  <%= image_tag "icons8-dog-house-50", alt: "Home", size: "30x30" %>
  <% end %>
  <%= image_tag "icons8-dog-bone-50", alt: "Bone", size: "30x30" %>
  <%= image_tag "icons8-dog-collar-50", alt: "Collar", size: "30x30" %>
  <%= image_tag "icons8-dog-heart-50", alt: "Dog heart", size: "30x30" %>
</nav>
