<nav class="navbar fixed-top navbar-dark navbar-top">
  <div>
    <%= link_to :back do %>
    <i style="font-size: 30px" class="fa fa-angle-left" aria-hidden="true"></i>
    <% end %>
    <h1 style="display: inline; color: #FFA149;" class="logo ml-2">
      <%= @dog.name %>
    </h1>
  </div>
  <div>
    <%= link_to sniffs_path do %>
    <%= image_tag "icons8-dog-heart-64.png", alt: "Dog heart", size: "30x30", class: "mr-2" %>
    <% end %>
    <%= link_to chatrooms_path do %>
    <%= image_tag "icons8-email-send-50.png", alt: "Send a message", size: "30x30", class: "mr-2"%>
    <% end %>
  </div>
</nav>
