<nav class="navbar-top-dog-profile navbar fixed-top navbar-dark navbar-top d-flex">
  <div class="navbar-top-dog-profile-left d-flex align-items-center">
    <i style="font-size: 30px" class="fa fa-angle-left" aria-hidden="true" onclick="history.back(-1)"></i>
    <div class="navbar-top-dog-profile-left-logo">
      <h1 class="logo">
        <%= @dog.name %>
      </h1>
    </div>
  </div>
  <div class="navbar-top-dog-profile-right d-flex">
    <%= link_to sniffs_path do %>
    <%= image_tag "icons8-dog-heart-64.png", alt: "Dog heart", size: "30x30", class: "mr-2" %>
    <% end %>
    <%= link_to chatrooms_path do %>
    <%= image_tag "icons8-email-send-50.png", alt: "Send a message", size: "30x30", class: "mr-2"%>
    <% end %>
  </div>
</nav>
