<nav class="navbar-top-chatroom navbar fixed-top navbar-dark">
  <div class="navbar-left d-flex align-items-center">
    <i style="font-size: 30px" class="fa fa-angle-left" aria-hidden="true" onclick="history.back(-1)"></i>
  </div>
  <div class="navbar-top-chatroom-center">
    <h1 class="logo">
      <%= @dog_to_message.name %>
    </h1>
  </div>
  <div class="navbar-top-chatroom-right d-flex">
    <%= link_to sniffs_path do %>
      <%= image_tag "icons8-dog-heart-64.png", alt: "Dog heart", size: "30x30", class: "mr-2" %>
    <% end %>
    <%= link_to chatrooms_path do %>
      <%= image_tag "icons8-email-send-50.png", alt: "Send a message", size: "30x30", class: "mr-2"%>
    <% end %>
  </div>
</nav>
