<%= render 'shared/navbar-top' %>
<div style="margin-top: 5rem; margin-bottom: 5rem;" class="container">
 <h1 class="mb-4 text-center">Doggies to play</h1>
</div>
  <% if current_user.dogs.empty? %>
  <%= render 'shared/modal' %>
  <% else %>
  <% if @dog %>
    <%= simple_form_for(@dog, remote: true) do |f| %>
      <%= f.association :viewed_park, include_blank: false, label: false %>
      <%= f.submit class: "d-none", id: "dog-submit-button" %>
    <% end %>
  <% end %>
  <div class="parks mb-4">
    <h2><%= @viewed_park.name if @viewed_park %></h2>
    <% @dogs.each do |dog| %>
      <%= render 'components/card_dog', dog: dog unless current_user.dogs.include?(dog) %>
    <% end %>
  </div>
  <% end %>
<%= render 'shared/bottom-navbar' %>

