<%= render 'shared/navbar-top' %>
<div style="margin-top: 5rem; margin-bottom: 5rem;" class="general-container">
 <h1 class="mb-4 text-left">Dogs near you</h1>
  <% if current_user.dogs.empty? %>
    <%= render 'shared/modal' %>
  <% else %>
    <%= render 'components/park_selector' %>
    <% @dogs.each do |dog| %>
      <%= render 'components/card_dog', dog: dog unless current_user.dogs.include?(dog) %>
    <% end %>
  <% end %>
</div>
<%= render 'shared/bottom-navbar' %>